.all{
    background-color: rgb(118, 117, 117);
    
}
img{
    max-width: 180px;
    max-height: 180px;
    border-radius: 35px;
    transform: rotate(7deg);
    margin: 50px;
}
img:hover{
    opacity:0.5;
}
.C{
     position: relative;
}
.text{
    position: absolute;
    bottom: 0%;
    right: 30%;
    color: rgb(255, 255, 255);
    font-family: Lucida Sans Unicode;
}
.B{
    font-family: Lucida Sans Unicode;
    font-size: 65px;
    color: rgb(255, 255, 255);
}

.B{
    animation-duration: 5s;
    animation-name: slidein;
  }
  
@keyframes slidein {
    from {
      margin-left: 115%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}